.title-wrap {
  display: flex;
  justify-content: center;
  height: 70px;
  @media (max-width: 767.8px) {
    height: 50px;
    h2 {
      font-size: 20px;
      padding-top: 5px;
    }
  }
  .title-content {
    display: flex;
    flex: 1;
    max-width: 1000px;
    .title-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .inner {
        padding: 0 20px;

        h2 {
          color: #f9f9f9;
        }
      }
    }
  }
}
