<div class="club_edit" *ngIf="formEdit" [ngClass]='{"hide_edit":hideEdit}'>
  <div class="header">
    <div class="flex_row">
      <div class='flex_1 flex_start'>
        <div class="back_button">
          <button mat-icon-button color="primary" (click)='backToList()' *ngIf='showSuperOption'>
            <mat-icon aria-label="Example icon-button with a heart icon">navigate_before</mat-icon>
          </button>
        </div>
      </div>
      <div style="margin-right: 5px;">
        <button (click)='onSaveClub()' mat-stroked-button color="primary" [disabled]="(!formEdit.dirty || !formEdit.valid) && !dayChanged">
          <mat-icon matSuffix color='primary'>done</mat-icon>Save
        </button>
      </div>
    </div>
  </div>
  <form novalidate class='reactive-form' [formGroup]="formEdit" (ngSubmit)="onSubmit()">
    <div class="form_section">
      <div class="flex_row_col">
        <div class="control">
          <mat-form-field>
            <input matInput placeholder="Club Name" formControlName="clubName" autocomplete="off">
            <mat-icon matSuffix color='primary'>description</mat-icon>
          </mat-form-field>
          <val-msg [invalid]='getValidate("clubName")'>
            Club Name is required
          </val-msg>
        </div>
        <div class="control">
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="address" autocomplete="off">
            <mat-icon matSuffix color='primary'>location_on</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="flex_row_col">
        <div class="row_col_sm">
          <div class="control">
            <mat-form-field>
              <input matInput placeholder="Contact Name" formControlName="contactName" autocomplete="off">
              <mat-icon matSuffix color='primary'>person</mat-icon>
            </mat-form-field>
            <val-msg [invalid]='getValidate("contactName")'>
              Contact Name is required
            </val-msg>
          </div>
          <div class="control">
            <mat-form-field>
              <input matInput placeholder="Code(4 Capital letters)" formControlName="clubCode" autocomplete="off">
              <mat-icon matSuffix color='primary'>vpn_key</mat-icon>
            </mat-form-field>
            <val-msg [invalid]='getValidate("clubCode")'>
              Code format is invalid or Code is taken
            </val-msg>
          </div>
        </div>
        <div class="row_col_sm">
          <div class="control">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" autocomplete="off">
              <mat-icon matSuffix color='primary'>email</mat-icon>
            </mat-form-field>
            <val-msg [invalid]='getValidate("email")'>
              Email format is invalid
            </val-msg>
          </div>
          <div class="control">
            <mat-form-field>
              <input matInput placeholder="Phone Number" formControlName="phone1" autocomplete="off">
              <mat-icon matSuffix color='primary'>phone</mat-icon>
            </mat-form-field>
            <val-msg [invalid]='getValidate("phone1")'>
              Phone number is invalid
            </val-msg>
          </div>
        </div>
      </div>
      <div class="flex_row_col">
        <div class="row_col_sm">
          <div class="control">
            <mat-form-field>
              <mat-select placeholder="Open day" [formControl]="openDays">
                <mat-option *ngFor="let weekDay of weekDays" [value]="weekDay.index">
                  {{weekDay.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="control">
            <mat-form-field>
              <input matInput placeholder="Time" formControlName="time" autocomplete="off">
              <mat-icon matSuffix color='primary'>access_time</mat-icon>
            </mat-form-field>
            <val-msg [invalid]='getValidate("time")'>
              Time is required
            </val-msg>
          </div>
        </div>
        <!-- <div class="day-selection">
          <div class='day-label'>Open days</div>
          <div class="day-control">
            <day-selector [days]='selectedDays' (dayChanged)='onDayChanged($event)'></day-selector>
          </div>
        </div>-->
        <div class="control">
          <mat-form-field>
            <input matInput placeholder="Google map link" formControlName="mapLink" autocomplete="off">
            <mat-icon matSuffix color='primary'>location_on</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="flex_row_col">
        <div class="row_col_sm">
          <div class="control">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" autocomplete="off">
              <mat-icon matSuffix color='primary'>email</mat-icon>
            </mat-form-field>
            <val-msg [invalid]='getValidate("email")'>
              Email format is invalid
            </val-msg>
          </div>
          <div class="control">
            <mat-form-field>
              <input matInput placeholder="Max Player Amount" formControlName="maxPlayers" autocomplete="off">
              <mat-icon matSuffix color='primary'>supervisor_account</mat-icon>
            </mat-form-field>
            <val-msg [invalid]='getValidate("maxPlayers")'>
              required
            </val-msg>
          </div>
        </div>
        <div class="row_col_sm">
          <div class="control checkbox">
            <mat-checkbox class="example-margin" formControlName="isActive">Acitve</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="flex_row_col">
        <div class="row_col_sm">
        </div>
      </div>
    </div>
  </form>
</div>
