#header-info {
  background: #eee;
  border-top: 1px solid #e6e6e6;
  margin-top: 60px;
  .inner {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1140px;
    margin: 0 auto;
    .header {
      padding-bottom: 15px;
      margin-bottom: 25px;
      border-bottom: 1px solid #888;
      letter-spacing: 2px;
    }
  }
}

.dropdown-content {
  display: block;
  overflow: hidden;
  .dropdown-inner {
    padding: 30px 20px;
  }
}

.timing-content {
  justify-content: center;
  .time-col {
    min-width: 20em;
    .th {
      font-weight: bold;
    }
  }
}

.contact-content {
  display: flex;
  .contact-info {
    padding: 0 30px 10px 30px;
    .contact {
      margin-bottom: 5px;
      display: flex;
      .label {
        min-width: 5em;
      }
    }
  }
  .map-info {
  }
}
