.img-wrap {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .intro-text {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 30px;
    color: wheat;
    @media (max-width: 1279px) {
      font-size: 20px;
    }
    .intro-lead-in {
      font-size: 1em;
      font-style: italic;
      font-family: Droid Serif, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    .intro-heading {
      font-size: 1.45em;
      font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
      @media (max-width: 720px) {
        display: none;
      }
    }
  }
  .sign-button {
    position: absolute;
    bottom: 10%;
    left: 44%;
    @media (max-width: 720px) {
      left: 34%;
    }
    button {
      background-color: aliceblue;
    }
  }
}

#about {
  @media (max-width: 560px) {
    display: none;
  }
}

.section-header {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #0e3793;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  @media (max-width: 780px) {
    flex-direction: column;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .item {
      display: flex;
      justify-content: center;
      font-size: 17px;
      line-height: 40px;
      text-transform: none;
      font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
      button {
        font-size: 24px;
        background-color: black;
        color: wheat;
        margin-right: 5px;
      }
      a {
        margin: 0 5px;
      }
    }
  }
}
