.reactive-form {
  .form_section {
    padding-left: 10px;
    .row_col {
      display: flex;
      flex-direction: row;
    }
    @media (max-width: 570px) {
      .row_col {
        flex-direction: column;
        align-items: center;
      }
    }
    .control {
      min-width: auto;
      @media (max-width: 570px) {
        width: 90%;
        max-width: none !important;
      }
    }
  }
}

.signup-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.sign-title {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 0;
}

.table-container {
  display: table;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  .club-img {
    display: table-cell;
    width: auto;
    background-size: cover;
  }
  .login-form {
    display: table-cell;
    width: 560px;
    background-color: #ffffff;
    color: #505e6c;
    width: 400px;
    .form_section {
      padding-left: 0;
      .flex_row {
        padding: 0 2em;
        .control {
          max-width: 20em !important;
          min-width: auto;
        }
      }
    }
  }
}
.agree-section {
  display: flex;
  flex-direction: column;
  .checkbox {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1em 3em;
    position: relative;
    min-height: 3em;
  }
}
.sign-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
  .forget {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .forget_pass {
      margin-left: 10px;
      text-decoration: underline;
      cursor: pointer;
      color: saddlebrown;
    }
  }
  .sign-button {
    display: flex;
    justify-content: center;
    margin: 0 2em 0 1.5em;
    button {
      width: 100%;
      max-width: 21em !important;
    }
  }
  .alternative {
    display: flex;
    justify-content: center;
    padding: 2em 0 0em 0;
    cursor: pointer;
    .prompt {
      margin: 0 1em;
      padding-top: 2px;
    }
    .icon {
      color: teal;
    }
  }
}
