.reactive-form {
  .form_section {
    padding-left: 10px;
    min-height: 700px;
    .row_col {
      display: flex;
      flex-direction: row;
    }
    @media (max-width: 570px) {
      .row_col {
        flex-direction: column;
        align-items: center;
      }
    }
    .control {
      max-width: 17em !important;
      min-width: auto;
      @media (max-width: 570px) {
        width: 90%;
        max-width: none !important;
      }
    }
  }
}

.hide_sign {
  display: none !important;
}

.table-container {
  display: table;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  .club-img {
    display: table-cell;
    width: auto;
    background-size: cover;
  }
  .signup-form,
  .login-form {
    display: table-cell;
    width: 560px;
    background-color: #ffffff;
    color: #505e6c;
  }
  .login-form {
    width: 400px;
    .form_section {
      padding-left: 0;
      .flex_row {
        padding: 0 2em;
        .control {
          max-width: 20em !important;
          min-width: auto;
        }
      }
    }
  }
}

.sign-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5em;
  .sign-button {
    display: flex;
    justify-content: center;
    margin: 0 2em 0 1.5em;
    button {
      width: 100%;
      max-width: 21em !important;
    }
  }
  .alternative {
    display: flex;
    justify-content: center;
    padding: 2em 0 0em 0;
    cursor: pointer;
    .prompt {
      margin: 0 1em;
    }
    .icon {
      padding-top: 2px;
      color: teal;
    }
  }
}
