<view-header [title]='title'></view-header>
<div class="page_view">
  <div class='page_content'>
    <div class="signup-form">
      <div class='sign-title'>
        <img src='assets/img/signup-icon.png' style='height: 60px;' />
      </div>
      <form novalidate class='reactive-form' [formGroup]="signupForm" *ngIf="signupForm" (ngSubmit)="onSubmit()">
        <div class="form_section">
          <div class="form_content">
            <div class="row_col">
              <div class="control">
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" autocomplete="off">
                  <mat-icon matSuffix color='primary'>email</mat-icon>
                </mat-form-field>
                <val-msg [invalid]='email.invalid && email.dirty && !email.errors["emailExists"]'>
                  Email format is invalid
                </val-msg>
                <val-msg [invalid]='email.invalid && email.dirty && email.errors["emailExists"]'>
                  Email already exists
                </val-msg>
              </div>
            </div>
            <div class="row_col">
              <div class="control">
                <mat-form-field>
                  <input matInput placeholder="Password" formControlName="password" type='password' autocomplete="off">
                  <mat-icon matSuffix color='accent'>visibility</mat-icon>
                </mat-form-field>
                <val-msg [invalid]='getValidate("password")'>
                  Password is required (6-25 characters)
                </val-msg>
                <val-msg [invalid]='notSamePassword'>
                  The 2 passwords are not the same
                </val-msg>
              </div>
              <div class="control">
                <mat-form-field>
                  <input matInput placeholder="Confirm Password" formControlName="passwordConfirm" type='password'
                    autocomplete="off">
                  <mat-icon matSuffix color='accent'>visibility</mat-icon>
                </mat-form-field>
                <val-msg [invalid]='getValidate("passwordConfirm")'>
                  Password is required (6-25 characters)
                </val-msg>
              </div>
            </div>
            <div class="agree-section">
              <div class="checkbox">
                <mat-checkbox formControlName="agreePolicy">I agree to the Club Terms and Conditions</mat-checkbox>
              </div>
            </div>
            <div class="flex_row sign-section">
              <div class='sign-button'>
                <button type='submit' mat-stroked-button color="primary" [disabled]="!isAgreePolicy || notSamePassword || !signupForm.valid">Sign
                  Up</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
