<div class="pricing">
  <div class="price">
    <div class="triangle">
      <div class="category">Member</div>
      <div class='dollar'>$5</div>
    </div>
    <div class="desc">
      The current membership year is from September 1 to August 31, and the fees are
      now in effect. All members are required to register through the Badminton Hub Website.
    </div>
  </div>
  <div class="price">
    <div class="triangle">
      <div class="category">Guest</div>
      <div class='dollar'>$8</div>
    </div>
    <div class="desc">Guests will be eligible to play if there are fewer than 15 members playing. Check guest
      availability on website</div>
  </div>
</div>
