$cellphone_width: 767px;

body {
  color: #666666;
}

.mobile_show {
  display: none;
  @media (max-width: 767.8px) {
    display: block;
  }
}
.mobile_hide {
  @media (max-width: 767.8px) {
    display: none;
  }
}

.view_header {
  position: sticky;
  width: 100%;
  top: 98px;
}
.page_view {
  display: flex;
  justify-content: center;
  .page_content {
    max-width: 1000px;
    flex: 1;
    padding: 10px 10px;
    @media screen and (min-width: 1260px) {
      max-width: 1200px;
    }
  }
}

.section {
  justify-content: flex-start;
  padding: 0 1em 1em 1em;
  &.mobile {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.reactive-form {
  .form_section {
    background-color: #f5f5f5;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    @media (min-width: 1200px) {
      align-items: center;
    }
    @media (max-width: $cellphone_width) {
      width: 100%;
    }
    .control {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      min-width: 30em;
      max-width: 30em;
      min-height: 3em;
      @media (max-width: $cellphone_width) {
        min-width: 0;
        max-width: none;
        width: 100%;
      }
      mat-select {
        min-width: 18em;
      }
      &.max_line {
        padding-top: 1em;
        max-width: 100%;
      }
    }
  }

  .row_col_sm {
    display: flex;
    padding: 0 1em;
    .control {
      max-width: none;
      min-width: 0;
      padding: 1em 0em;
      &:first-child {
        padding-right: 0.5em;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      flex-direction: column;
      .control {
        padding: 1em 0em !important;
      }
    }
  }
  .error {
    display: flex;
    align-items: center;
    color: darkred;
  }
  my-date-picker {
    width: 12em !important;
  }

  .control_inline {
    display: flex;
    mat-checkbox {
      padding-right: 1em;
    }
    .date_picker_wrap {
      width: 12em;
      .label_date_picker {
        color: rgba(0, 0, 0, 0.38);
        font-size: 12px;
        top: -10px !important;
      }
      input {
        font-size: 16px !important;
      }
    }
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-form-field-infix {
    display: flex;
    width: auto;
  }
}
.side-form {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-left: 1px solid #e0e0e0;
  @media (max-width: 1279px) {
    width: 80%;
  }
  @media (max-width: $cellphone_width) {
    width: 94%;
  }
}

mat-select {
  max-width: 20em;
  min-width: 6em;
}

mat-form-field {
  width: 100%;
}

.flex_1 {
  flex: 1;
}
.flex_2 {
  flex: 2;
}
.flex_3 {
  flex: 3;
}
img {
  /* fix the mysterious extra 4px at bottom problem*/
  display: block;
}
