<view-header [title]='title'></view-header>
<div class="page_view">
  <div class='page_content'>
    <div class="selection">
      <form>
        <div class="selectClub" *ngIf='showSuperOption()'>
          <mat-form-field style="width: 320px;">
            <mat-select placeholder="Select Club" (selectionChange)='onChangeClub()' [(ngModel)]='clubId' name='club'>
              <mat-option *ngFor="let club of clubs | async" [value]="club._id">
                {{club.clubName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="record_table" [ngClass]='{"hide_list":!showListSection}'>
      <div class='header'>
        <div class="t_col flex_3">Name</div>
        <div class="t_col flex_2 mobile_hide">Email</div>
        <div class="t_col flex_1 mobile_hide">Phone</div>
        <div class="t_col flex_1">Member</div>
        <div class="t_col control">
          <!-- <div>
            <button mat-button (click)='onAddaccountClick()'>
              <mat-icon matSuffix>add</mat-icon>Add
            </button>
          </div> -->
          <div class="indicator">
            <div [@rotateAnimate]='arrowState' (click)='onArrowClick()'>
              <mat-icon inline='true'>keyboard_arrow_right</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="table_content" [@pullUpDownAnimate]='tableContentState'>
        <div class='t_row' *ngFor="let account of accounts | async as accountList; index as i; last as islast"
          [ngClass]="{selected: checkSelected(account)}" (click)='onRecordClick(account)'>
          <div class="t_col flex_3">{{account.firstName }} {{account.lastName}}</div>
          <div class="t_col flex_2 mobile_hide">{{ account.email }}</div>
          <div class="t_col flex_1 mobile_hide">{{ account.cellPhone }}</div>
          <div class="t_col flex_1">
            <div class="checkbox" *ngIf="account.isMember">
              <mat-icon inline='true'>done</mat-icon>
            </div>
          </div>
          <div class="t_col control">
            <input type="hidden" name="listLength" value={{i}} #hid>
            <div class="icon">
              <mat-icon matSuffix>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="pagination">
            <mat-paginator [length]="pageConfig.length" [pageSize]="pageConfig.pageSize" [pageSizeOptions]="pageConfig.pageSizeOptions"
              (page)="onPageChange($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <div class="account_edit">
      <account-edit [clubId]='clubId' [showSuperOption]='showSuperOption()' (showList)='showList()'></account-edit>
    </div>
  </div>
</div>
