<div class="img-wrap">
  <img [src]="banner" />
  <div class="intro-text">
    <div class="intro-lead-in">
      <span>Welcome {{ welcome }}!</span>
    </div>
    <div class="intro-heading text-uppercase">
      <span>It's Nice To PLAY BADMINTON</span>
    </div>
  </div>
</div>
<div class="page_view">
  <div class="page_content">
    <div class="section-header">booking status</div>
    <div class="booking-section "><app-booking></app-booking></div>

    <div class="section-header">latest events</div>
    <div class="events"><event-latest></event-latest></div>

    <div class="section-header">Pricing</div>
    <div id="pricing"><app-pricing></app-pricing></div>

    <section id="about">
      <div class="container">
        <div class="row">
          <h2 class="section-header">badminton coaching program</h2>
          <h3 class="sub-head">Double play basic stratigies</h3>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/x6FHTqdHGXo"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
