<div class="img-wrap">
  <img [src]="banner" />
  <div class="intro-text">
    <div class="intro-lead-in"><span>Welcome {{welcome}}!</span></div>
    <div class="intro-heading text-uppercase"><span>It's Nice To PLAY BADMINTON</span></div>
  </div>
  <div class='sign-button' *ngIf='!loggedInUser'>
    <button mat-flat-button color="accent" (click)='onLogin()'>Sign In / Sign Up</button>
  </div>
  <!-- {{this.loggedInUser|json}} -->
</div>
<div class="page_view">
  <div class='page_content'>
    <div class="section-header">booking status</div>
    <div class="booking-section">
      <div class="booking-list">
        <div class="li">
          <div class="time" datetime="2018-11-15">
            <span class="day">15</span>
            <span class="month">Nov 2018</span>
            <span class="weekday">Thursday</span>
          </div>
          <div class="info">
            <h2 class="title">Available (3)</h2>
            <div class="action">
              <div class='text'><span>I want to</span>
                <i class="fas fa-hand-point-right"></i>
              </div>
              <div class='button'>
                <button mat-stroked-button color="primary">Book</button>
              </div>
            </div>
          </div>
        </div>
        <div class="li full">
          <div class="time" datetime="2018-11-15">
            <span class="day">22</span>
            <span class="month">Nov 2018</span>
            <span class="weekday">Thursday</span>
          </div>
          <div class="info">
            <h2 class="title">Fully Booked</h2>
            <div class="action">
              <div class='text'>
                <span>I want to</span>
                <i class="fas fa-hand-point-right"></i></div>
              <div class='button'>
                <button mat-stroked-button color="warn">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-header">latest events</div>
    <div class="events">
      <event-latest></event-latest>
    </div>

    <div class="section-header">Pricing</div>
    <div id="pricing">
      <app-pricing></app-pricing>
    </div>

    <section id="about">
      <div class="container">
        <div class="row">
          <h2 class="section-header">badminton coaching program</h2>
          <h3 class="sub-head">Double play basic stratigies</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/x6FHTqdHGXo"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>