$header-master-height: 35px;

/* master page */

.master {
  /*@extend .flex_column;*/
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: scroll;
}

.root-outlet {
  display: flex;
  flex-direction: column;
  flex: 1;
}
