$header-master-height: 35px;

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  clear: both;
  background-color: #fff;
  @media (min-width: 768px) {
    left: 0 !important;
  }
}

/* master page */

.master {
  /*@extend .flex_column;*/
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: scroll;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
