.header-wrap {
  color: #666666;
  font-weight: 500;
  font-style: normal;
  position: relative;

  #mobile-menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    padding: 5px 5px;
    background: #4e5052;
    border: none;
    z-index: 10000;
    cursor: pointer;
    mat-icon {
      color: white;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
  #header-info {
  }
}
#header.sticky {
  position: fixed;
  top: 0;
  background-color: #343a40 !important;
  height: 60px;
  z-index: 5;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.3);
  box-shadow: 0px 1px 5px rgba(100, 100, 100, 0.3);
  .header-content {
    display: flex;
    flex: 1;
    height: 100%;
    max-width: 890px;
    max-width: 1000px;
    justify-content: space-around;
    @media (max-width: 959.8px) {
      flex: 0;
    }
    @media screen and (min-width: 1236px) {
      max-width: 1190px;
    }
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 200px;
      color: #fed136;
      font-family: Kaushan Script, Helvetica Neue, Helvetica, Arial, cursive;
      font-size: 1.75em;
      transition: all 0.3s;
      white-space: nowrap;
      @media (max-width: 765.8px) {
        font-size: 18px;
      }
    }
    .main_menu {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      max-width: 600px;
      @media (max-width: 765.8px) {
        .menu_item .item_wrap {
          display: none !important;
        }
        .material-icons {
          font-size: 24px !important;
        }
      }
      @media (max-width: 600px) {
        display: none;
      }
      .menu_item {
        color: #c7d1d8;
        &.selected {
          color: #adf5db;
        }
        &:hover {
          background-color: #2a679c;
          color: wheat;
        }
        @media (max-width: 959.8px) {
          mat-icon {
            display: none;
          }
        }
      }
    }
    .pulldown_menu {
      display: flex;
      .menu_item {
        padding: 0 3px;
        color: #dfe7b5;
        .icon_wrap {
          border-right: 1px solid #dfe7b5;
          display: flex;
          padding-right: 5px;
          .material-icons {
            font-size: 26px;
          }
        }
        &:last-child {
          .icon_wrap {
            border-right: none;
          }
        }
      }
    }
    .menu_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 18px;
      color: #292929;
      letter-spacing: 1px;
      padding: 0 12px 0;
      .menu_content {
        display: flex;
        justify-content: center;
        font-size: 18px;
        .material-icons {
          font-size: 28px;
        }
      }
      .item_wrap {
        padding: 0 5px;
        font-size: 13px;
      }
    }
    .item_wrap,
    .menu_content,
    .icon_wrap {
      cursor: pointer;
      font-size: 16px;
    }
  }
}
