<div class="header-wrap">
  <div id="header" class="sticky">
    <div id="mobile-menu-toggle">
      <mat-icon inline='false'>menu</mat-icon>
    </div>
    <div class="wrap">
      <div class="logo">
        <img [src]="logo" alt="" style="width: 78px;">
      </div>
      <div class="main_menu">
        <div class='menu_item'>
          <div class="menu_content" (click)='nav(r_home)'>
            <mat-icon inline='true'>home</mat-icon>
            <div class="item_wrap">Home</div>
          </div>
        </div>
        <div class='menu_item'>
          <div class="menu_content">
            <mat-icon inline='true'>settings</mat-icon>
            <div class="item_wrap">Management</div>
          </div>
        </div>
        <div class='menu_item'>
          <div class="menu_content">
            <mat-icon inline='true'>photo</mat-icon>
            <div class="item_wrap">Gallery</div>
          </div>
        </div>
        <div class='menu_item'>
          <div class="menu_content" (click)='nav(r_event)'>
            <mat-icon inline='true'>event_note</mat-icon>
            <div class="item_wrap">Events</div>
          </div>
        </div>
      </div>
      <div class="pulldown_menu">
        <div class='menu_item'>
          <div class="icon_wrap" (click)='onShowContact()'>
            <mat-icon>location_on</mat-icon>
          </div>
        </div>
        <div class='menu_item'>
          <div class="icon_wrap" (click)='onShowTimings()'>
            <mat-icon inline='false'>access_time</mat-icon>
          </div>
        </div>
        <div class='menu_item'>
          <div class="icon_wrap" (click)='nav(r_signup)'>
            signup
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header -->
<header-info [showContact]='showContact' [showTimings]='showTimings'></header-info>
