<div class="header-wrap">
  <div id="header" class="sticky">
    <div class="wrap">
      <div class="logo">
        <img [src]="logo" alt="" style="width: 78px;">
      </div>
      <div class="main_menu">
        <div class='menu_item'>
          <div class="item_wrap" (click)='nav(r_home)'>Home</div>
        </div>
        <div class='menu_item'>
          <div class="item_wrap">Features</div>
        </div>
        <div class='menu_item'>
          <div class="item_wrap">Photos</div>
        </div>
        <div class='menu_item'>
          <div class="item_wrap">Gears</div>
        </div>
      </div>
      <div class="pulldown_menu">
        <div class='menu_item'>
          <div class="icon_wrap" (click)='onShowContact()'>
            <mat-icon>location_on</mat-icon>
          </div>
        </div>
        <div class='menu_item'>
          <div class="icon_wrap" (click)='onShowTimings()'>
            <mat-icon inline='false'>access_time</mat-icon>
          </div>
        </div>
        <div class='menu_item'>
          <div class="icon_wrap" (click)='nav(r_signup)'>
            signup
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header -->
<header-info [showContact]='showContact' [showTimings]='showTimings'></header-info>
