ngb-carousel {
  /deep/ img {
    width: 100%;
    opacity: 0.8;
    max-width: 1920px;
    // height: 550px;
  }
}

.carousel_wrap {
  display: flex;
  justify-content: center;
}
.club-entry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .club-select {
    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
