ngb-carousel {
  /deep/ img {
    width: 100%;
    opacity: 0.8;
    max-width: 1920px;
    // height: 550px;
  }
}

.carousel_wrap {
  display: flex;
  justify-content: center;
}

.club-prompt {
  .title-1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: darkcyan;
    text-align: center;
    text-transform: uppercase;
  }
  .title-2 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 40px;
    text-transform: none;
    font-family: Droid Serif, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
  }
}

.club-entry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .club-select {
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  .club-plus {
    width: 390px;
  }
}
