<view-header [title]='title'></view-header>
<div class="page_view">
  <div class='page_content'>
    <div class="selection" *ngIf='showSuperOption()'>
      <form>
        <div class="selectClub">
          <mat-form-field style="width: 320px;">
            <mat-select placeholder="Select Club" (selectionChange)='onChangeClub()' [(ngModel)]='club' name='clu'>
              <mat-option *ngFor="let club of clubs | async" [value]="club">
                {{club.clubName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="record_table" [ngClass]='{"hide_list":!showListSection}'>
      <div class='header'>
        <div class="t_col flex_3">Date</div>
        <div class="t_col flex_2 mobile_hide">Max Player Amount</div>
        <div class="t_col flex_1">Acitve</div>
        <div class="t_col control">
          <div class="indicator">
          </div>
        </div>
      </div>
      <div class="table_content">
        <div class='t_row' *ngFor="let booking of bookingList; index as i; last as islast" (click)='
          onRecordClick(booking)'>
          <div class="row-section">
            <div class="t_col flex_3">{{booking.dateName }}</div>
            <div class="t_col flex_2 mobile_hide">{{ booking.maxPlayers }}</div>
            <div class="t_col flex_1">
              <div class="checkbox" *ngIf="booking.isActive">
                <mat-icon inline='true'>done</mat-icon>
              </div>
            </div>
            <div class="t_col control">
            </div>
          </div>
          <div class="section-detail" [@pullUpDownAnimate]='chipState[booking._id]'>
            <booked-players [clubId]='clubId' [date]='booking.dateName' [bookingId]='booking._id' [selectedBookingId]='selectedBookingId'
              [bookedPlayers]='bookedPlayers'></booked-players>
          </div>
        </div>
        <div class="footer">
          <div class="pagination">
            <mat-paginator [length]="pageConfig.length" [pageSize]="pageConfig.pageSize" [pageSizeOptions]="pageConfig.pageSizeOptions"
              (page)="onPageChange($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <div class="section-detail">

    </div>
  </div>
</div>
