.img-wrap {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .intro-text {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 30px;
    color: wheat;
    @media (max-width: 1279px) {
      font-size: 20px;
    }
    .intro-lead-in {
      font-size: 1em;
      font-style: italic;
      font-family: Droid Serif, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    .intro-heading {
      font-size: 1.45em;
      font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
      @media (max-width: 720px) {
        display: none;
      }
    }
  }
  .sign-button {
    position: absolute;
    bottom: 10%;
    left: 44%;
    @media (max-width: 720px) {
      left: 34%;
    }
    button {
      background-color: aliceblue;
    }
  }
}

#about {
  @media (max-width: 560px) {
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
    .sub-head {
      text-align: center;
    }
  }
}

#pricing {
  margin: 25px 0;
}

.section-header {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: Baloo, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #0e3793;
}

.under_construction {
  img {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
  }
}
