<div class="view_header">
  <view-header [title]='title'></view-header>
</div>
<div class="page_view">
  <div class='page_content'>
    <div class="club_table" [ngClass]='{"hide_list":!showClubList}'>
      <div class='header'>
        <div class="t_col flex_3">Club Name</div>
        <div class="t_col flex_2 mobile_hide">Email</div>
        <div class="t_col flex_1 mobile_hide">Code</div>
        <div class="t_col flex_1 mobile_hide">Active</div>
        <div class="t_col control">
          <div>
            <button mat-button (click)='onAddClubClick()'>
              <mat-icon matSuffix>add</mat-icon>Add
            </button>
          </div>
          <div class="indicator">
            <div [@rotateAnimate]='arrowState' (click)='onArrowClick()'>
              <mat-icon inline='true'>keyboard_arrow_right</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="table_content" [@pullUpDownAnimate]='tableContentState'>
        <div class='t_row' *ngFor="let club of clubs | async as clubList; index as i; last as islast trackBy: clubTrack"
          [ngClass]='{selected:checkSelected(club),hideByPage:hideByPage(i)}' (click)='onClubClick(club)'>
          <div class="t_col flex_3">{{ club.clubName }}</div>
          <div class="t_col flex_2 mobile_hide">{{ club.email }}</div>
          <div class="t_col flex_1 mobile_hide">{{ club.clubCode }}</div>
          <div class="t_col flex_1 mobile_hide">
            <div class="checkbox" *ngIf="club.isActive">
              <mat-icon inline='true'>done</mat-icon>
            </div>
          </div>
          <div class="t_col control">
            <input type="hidden" name="listLength" value={{i}} #hid>
            <div class="icon">
              <mat-icon matSuffix>navigate_next</mat-icon>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="pagination">
            <mat-paginator [length]="pageConfig.length" [pageSize]="pageConfig.pageSize" [pageSizeOptions]="pageConfig.pageSizeOptions"
              (page)="onPageChange($event)"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <div class="club_edit">
      <club-edit [clubId]='selectedClubId' (showList)='showList()'></club-edit>
    </div>
  </div>
</div>