.form_section {
  padding-left: 10px;
  .row_col {
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 570px) {
    .row_col {
      flex-direction: column;
      align-items: center;
    }
  }
  .control {
    max-width: 17em !important;
    min-width: auto;
    @media (max-width: 570px) {
      width: 90%;
      max-width: none !important;
    }
  }
}

.avatar {
  display: flex;
  padding: 1em;
  img {
    width: 60px;
    height: 60px;
  }
}

.table-container {
  display: table;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  .section-img {
    display: table-cell;
    width: auto;
    background-size: cover;
  }
  .section-form {
    display: table-cell;
    width: 560px;
    background-color: #ffffff;
    color: #505e6c;
  }
}
