.form_section {
  padding-left: 10px;
  .row_col {
    display: flex;
    flex-direction: row;
  }
  @media (max-width: 570px) {
    .row_col {
      flex-direction: column;
      align-items: center;
    }
  }
  .control {
    max-width: 17em !important;
    min-width: auto;
    @media (max-width: 570px) {
      width: 90%;
      max-width: none !important;
    }
  }
}

.avatar {
  display: flex;
  padding: 1em;
  img {
    width: 60px;
    height: 60px;
  }
}

.table-container {
  display: table;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  min-height: 580px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #f5f5f5;
  .section-img {
    display: table-cell;
    width: auto;
    background-size: cover;
  }
  .section-form {
    display: table-cell;
    width: 560px;
    background-color: #f5f5f5;
    color: #505e6c;
  }
}
.sign-section {
  justify-content: center;
  margin-top: 30px;
  .sign-button {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
  }
}
