<view-header [title]='title'></view-header>
<div class="page_view">
  <div class='page_content'>
    <div class="table-container">
      <div class="section-img" [ngStyle]="{'background-image': themeImage}">
        <!-- <img [src]="clubImage" /> -->
      </div>
      <div class="section-form">
        <form novalidate class='reactive-form' [formGroup]="formEdit">
          <div class="form_section">
            <div class="form_content">
              <div class="flex_1">
                <div class="avatar">
                  <img [src]="avatar" alt="">
                </div>
              </div>
              <div class="row_col">
                <div class="control">
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" autocomplete="off">
                    <mat-icon matSuffix color='primary'>email</mat-icon>
                  </mat-form-field>
                </div>
                <div class="control">
                  <mat-form-field>
                    <input matInput placeholder="Avatar Link" formControlName="imageUrl" autocomplete="off">
                    <mat-icon matSuffix color='primary'>link</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row_col">
                <div class="control">
                  <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstName" autocomplete="off">
                    <mat-icon matSuffix color='primary'>person</mat-icon>
                  </mat-form-field>
                  <val-msg [invalid]='firstName.invalid && firstName.touched'>
                    First Name is required
                  </val-msg>
                </div>
                <div class="control">
                  <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="lastName" autocomplete="off">
                    <mat-icon matSuffix color='primary'>person</mat-icon>
                  </mat-form-field>
                  <val-msg [invalid]='lastName.invalid && lastName.touched'>
                    Last Name is required
                  </val-msg>
                </div>
              </div>
              <div class="row_col">
                <div class="control">
                  <mat-form-field>
                    <input matInput placeholder="Phone Number" formControlName="cellPhone" autocomplete="off">
                    <mat-icon matSuffix color='primary'>phone_android</mat-icon>
                  </mat-form-field>
                  <val-msg [invalid]='cellPhone.invalid && cellPhone.touched'>
                    Phone Number is required
                  </val-msg>
                </div>
                <div class="control" style='align-items: flex-start'>
                  <mat-radio-group style="padding-top:1em;" formControlName="gender">
                    <mat-radio-button style="width: 6em;" *ngFor="let gender of genders" [value]="gender.key">
                      {{gender.value}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="flex_row sign-section">
                <div class='sign-button'>
                  <button type='submit' mat-stroked-button color="primary" (click)='onSave()' [disabled]="!formEdit.valid">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>