<div class="img-wrap">
  <img [src]="banner" />
  <div class="intro-text">
    <div class="intro-lead-in"><span>Welcome {{welcome}}!</span></div>
    <div class="intro-heading text-uppercase"><span>It's Nice To PLAY BADMINTON</span></div>
  </div>
  <div class='sign-button' *ngIf='!loggedInUser'>
    <button mat-flat-button color="accent" (click)='onLogin()'>Sign In / Sign Up</button>
  </div>
</div>
<div class="page_view">
  <div class='page_content'>
    <div class="section-header">latest events</div>
    <div class="events">
      <event-latest></event-latest>
    </div>

    <div class="section-header">Pricing</div>
    <div id="pricing">
      <app-pricing></app-pricing>
    </div>

    <section id="about">
      <div class="container">
        <div class="row">
          <h2 class="section-header">badminton coaching program</h2>
          <h3 class="sub-head">Double play basic stratigies</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/x6FHTqdHGXo"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="footer">
  <div class="section flex_1">
    <div class="item"><span class="copyright">Copyright&nbsp;© Badmintonhub 2018</span></div>
  </div>
  <div class="section">
    <div class="item">
      <button mat-mini-fab><i class="fab fa-facebook-f"></i></button>
      <button mat-mini-fab><i class="fab fa-twitter"></i></button>
      <button mat-mini-fab><i class="fab fa-div class='li'nkedin-in"></i></button>
    </div>
  </div>
  <div class="section flex_1">
    <div class="item">
      <div><a href="#">Privacy Policy</a></div>
      <div><a href="#">Terms of Use</a></div>
    </div>
  </div>
</div>
